<?xml version="1.0"?>
<configuration>
  <appSettings>
  
    <add key="frontlanguages" value="english,italiano"/>
    <add key="defaultfrontlanguage" value="english"/>
    <add key="adminlanguage" value="english"/>
    

    <add key="smtpserver" value="..."/>
    <add key="youremail" value="..."/>
    <add key="useauthentication" value="false"/>
    <add key="authenticationemail" value="..."/>
    <add key="authenticationpass" value="..."/>
  
  
    <add key="languagespath" value= "~/app_data/languages" />
  </appSettings>
  <connectionStrings>
    <add name="strcnn"   connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\asc.mdb"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="6000"/>
    <authentication mode="Forms">
      <forms loginUrl="~/admin/admin.aspx" name=".ASPXFORMSAUTH" slidingExpiration="false" timeout="600" defaultUrl="~/admin/admin_menu.aspx"/>
    </authentication>
    <httpCookies httpOnlyCookies="true"/>
    <trace enabled="false" pageOutput="true" requestLimit="10" traceMode="SortByTime" localOnly="true"/>
    <globalization culture="it-IT"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/error.aspx" redirectMode="ResponseRedirect"/>
    <compilation debug="false" targetFramework="4.5">
    </compilation>
    <pages clientIDMode="AutoID" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime targetFramework="4.5" requestValidationMode="4.5"/>
  </system.web>
</configuration>